@font-face {
    font-family: trajan;
    src: url('../font/TrajanPro-Bold.otf');
}

.panels-flexible-row-page_d_accueil-2 .panels-flexible-column {
    width: 30%;
    float: left;
    margin-left: 3%;
}

/*----------------------------------page---------------------------------------------*/
*{
	font-family: arial, hevetica, sans serif!important;
	color:white;
	margin: 0;
	padding: 0;
}
.page-accueil .pane-block-1 {
margin-top:20px;
}
#concour{
width:100%;
}
textarea {
    color: #000000;
}
#autocomplete *{
    color: #000000;
}
.CSS1Compat * {
    background:white;
    color: #000000;
}

#page{
/*    max-width:2000px!important;*/
}
#main{
	width: 1024px;
	margin: auto;
	padding: 0!important;
}
.page-accueil #page-title{
	display: none;
}
.views-label,.field-label{
	font-size: 10pt;
	color: #BAD459;
}
a{
	font-size: 10pt;
	color: #ff953C;
	text-decoration: none;
}
.form-text, .cke_show_borders p{
	color: #000000!important;
}
.CSS1Compat, .CSS1Compat body p{
	background-color: #ffffff;
	color: #000000;
}
.form-type-textfield input{
	color: #000000;
}
 select option{
 	color: #000000;
 }
 .comments{
 	background: rgba(37, 23, 14, 0.5);
 	padding: 10px;
 }
 .comments h2{
 	background: url("../img/bg-h4.png") no-repeat scroll 0 0 transparent;
    font-family: trajan;
    font-size: 10pt;
    line-height: 33px;
    margin-left: -25px;
    padding-bottom: 7px;
    padding-left: 25px;
    text-transform: uppercase;
 }
 #edit-pass,.form-submit{
 	color:#000000;
 }
#beta{
	position: absolute;
	left:0;
	top:0;
	height: 10em;
}
/*------------------------------------header-----------------------------------------*/

#header{
	background: url("../img/bg-header.png") top center no-repeat;
	width: 100%;
	padding: 0;
	margin: 0;
	/*height: 390px;*/
}
#header-content{
	width: 1024px;
	padding-right: 15px;
	margin: 0 auto;
	position: relative;
}
#logo img{
    height:195!important;
    width: 188px;
}
#logo{
	float:left;
}
#secondary-menu{
	display: none;
	overflow: hidden;
}
.region-header{
	position: absolute;
	right: 2px;
	top:2px;
}
/*_______menu principal_________*/
#main-menu{
    display: block;
    min-height:3em;
}
#main-menu li{
	text-align:center;
	height:100px;
	width:113px;
	background: url("../img/menu-top-oriflammes-argent-petit-115x100.png") top  no-repeat;
	margin-right: 20px;
}
#main-menu li.active{
	background-position:bottom;
}
#main-menu li:hover{
	background-position:4px -100px  ;
	padding-top: 10px;
	line-height: 6;
}
#main-menu a{
	margin-top:5px;
	text-decoration: none;
	color: #57341C;
	font-size: 14px;
	font-weight:bolder;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 4;
}
#main-menu a.active{
	color: #ffffff;
}
#main-menu a.active:hover{
	color: #57341C;
}
.header_icone{
	float: left;
}
/*_______block contact_________*/
#icone_contact{
	height: 100px;
	width:40px;
	background: url("../img/menu-top-icones-40x100-contact-argent.png") no-repeat;
}
.icone_contact{
	height: 40px;
	width:54px;
	background: url("../img/menu-top-icones-54x40-contact.png") no-repeat;
	float: left;
	background-position: center ;
}
.icone_contact:hover{
	background-position:  bottom ;
}
#icone_contact:hover{
	background-position: center;
}
#block-block-3{
	display: none;
	background: #604637;
	color:#FFFFFF;
	position: absolute;
    right: 0;
    width: 300px;
    z-index: 2;
}
#block-block-3 h2{
	background: #EDDBD1;
	color: #BAD459;
}
#block-block-3 p{
	margin-left: 10px;
}
/*_______block search_________*/
#icone_search{
	height: 100px;
	width:40px;
	background: url("../img/menu-top-icones-40x100-recherche-argent.png") no-repeat;
}
.icone_search{
	height: 40px;
	width:54px;
	background: url("../img/menu-top-icones-54x40-recherche.png") no-repeat;
	float: left;
	background-position: center ;
}
.icone_search{
	float: left;
	background-position: center ;
}
.icone_search:hover{
	background-position:  bottom ;
}
#icone_search:hover{
	background-position: center;
}
#block-search-form{
	display: none;
	background: #604637;
	color:#FFFFFF;
	position: absolute;
    right: 0;
    width: 300px;
    z-index: 2;
}
#block-search-form h2{
	background: #EDDBD1;
	color: #BAD459;
}
#block-search-form form{
	padding: 40px 20px;
}
/*_______block connexion_________*/

#icone_user, #icone_user_moderateur, #icone_user_connect{
	height: 100px;
	width:40px;
	background: url("../img/menu-top-icones-40x100-connexion-argent.png") no-repeat;
}
.icone_user{
	height: 40px;
	width:54px;
	background: url("../img/menu-top-icones-54x40-connexion.png") no-repeat;
	float: left;
	background-position: center ;
}
.icone_user{
	float: left;
	background-position: center ;
}
.icone_user:hover{
	background-position:  bottom ;
}
#icone_user:hover, #icone_user_moderateur:hover, #icone_user_connect:hover{
	background-position: center;
}
#block-system-user-menu, #block-menu-menu-moderateur, #block-user-login{
	display: none;
	background: #604637;
	color:#FFFFFF;
	position: absolute;
    right: 0;
    width: 300px;
    z-index: 2;
}
#block-system-user-menu h2, #block-menu-menu-moderateur h2, #block-user-login h2{
	background: #EDDBD1;
	color: #BAD459;
}
#block-system-user-menu ul, #block-menu-menu-moderateur ul, #block-user-login form{
	margin-left: 10px;
}

/*------------------------------------footer-----------------------------------------*/
#footer_contener{
	background: url("../img/bg-footer.png") bottom center no-repeat;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 200px;
}
#footer{
	width: 1024px;
	padding-right: 15px;
	margin: 0 auto;
	position: relative;
	height: 200px;
}
#footer .menu a{
	text-decoration: none;
}
#block-block-2{
	position: absolute;
	bottom: 15pt;
	right: 0;
	margin: 0;
}
#block-block-5{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 79px -15px 0;
	font-size: 9pt;
}
#block-menu-menu-footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*------------------------------------page d'accueil-----------------------------------------*/
.panels-flexible-region-page_d_accueil-illustration-inside p{
	text-align: center;
}
.panels-flexible-region-page_d_accueil-illustration-inside img{
	width:1000px;
}
.page-accueil .panels-flexible-row-page_d_accueil-2-inside .panels-flexible-region{
	background: rgba(37, 23, 14, 0.5);
	padding: 5px 0px 20px 0px;
	 -moz-box-shadow: 0 0 2em #3c2618;
  	-webkit-box-shadow: 0 0 2em #3c2618;
  	box-shadow: 0 0 2em #3c2618;
}
.page-accueil .panels-flexible-row-page_d_accueil-2-inside .panels-flexible-region h2{
	background: url("../img/bg-h3.png") no-repeat;
	margin-left: -14px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 14pt;
	line-height: 44px;
	padding-bottom: 6px;
}
.panels-flexible-row-page_d_accueil-1 p{
	margin: 0;
}
.panels-flexible-page_d_accueil h2 img{
    float: left;
    margin-top:8px;
    margin-left: 22px;
    margin-right: 5px;
}
.page-accueil .panels-flexible-row-page_d_accueil-2-inside .astuce-accueil{
	margin: 20px  5px 5px 5px;
	min-height: 200px;
	background:  url("../img/astuces-separation.png") bottom center no-repeat;
}
.page-accueil .panels-flexible-row-page_d_accueil-2-inside .views-field-title a{
	font-size:12pt;
	color: #ffffff;
}
.view-astuces .views-field-field-iilustration-astuce{
	float: left;
    margin-right: 10px;
}
.views-field.views-field-nothing {
    float: right;
}
/*------------------------------------page astuce-----------------------------------------*/

.node-astuce .field-group-div{
	background: rgba(37, 23, 14, 0.5);
	padding: 5px 0px 20px 0px;
	 -moz-box-shadow: 0 0 2em #3c2618;
  	-webkit-box-shadow: 0 0 2em #3c2618;
  	box-shadow: 0 0 2em #3c2618;
}
.node-astuce img{
	float: left;
	margin: 0 1em 1em 0;
}
.node-type-astuce .field-group-format h2{
	background: url("../img/bg-h4.png") no-repeat;
	margin-left: -17px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 10pt;
	line-height: 33px;
	padding-bottom: 7px;
	padding-left:  25px;
}
.node-type-astuce .field-name-field-etapes h2{
	background: url("../img/bg-h4-etape-fermee.png") no-repeat;
    margin-left: -17px;
    margin-top: 34px;
    padding-left: 33px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 12pt;
	line-height: 32px;
	cursor: default;
}
.node-type-astuce .field-group-format h2 a{
    color: white;
    cursor: default;
    font-size: 10pt;
    margin-left: 20px;
}
.node-type-astuce .field-name-field-etapes h2 a{
	font-size:10pt;
	margin-left: 35px;
}
.node-astuce .group-informations-principales{
	width: 660px;
	float: left;
	clear: left;
}
.node-astuce .group-informations-comp{
 	width: 325px;
	float: right;
 }
 .node-type-astuce .node-astuce>header{
 	width: 305px;
	float: right;
	background: rgba(37, 23, 14, 0.5);
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 2em #3c2618;
  	-webkit-box-shadow: 0 0 2em #3c2618;
  	box-shadow: 0 0 2em #3c2618;
  	padding: 10px;

 }
  /*------------------------------------page liste astuce-----------------------------------------*/
 .view-astuces .views-row{
	min-height: 10em;
	width: 42%;
	padding: 2%;
	background: rgba(37, 23, 14, 0.5);
 	-moz-box-shadow: 0 0 2em #333;
  	-webkit-box-shadow: 0 0 2em #333;
  	box-shadow: 0 0 2em #333;
 	margin: 2%;
}
.page-astuces .view-astuces .views-field-title a {
	color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 54px;
}
.page-astuces .view-astuces .views-field-title{
	background: url("../img/bg-h4-etape-fermee.png") no-repeat;
	height: 50px;
	width: 400px;
	margin-left: -34px;
}

 /*------------------------------------page formulaire astuce-----------------------------------------*/
 .form-item-field-temps-de-pr-paration-und-0-value label,
.form-item-field-credit-und-0-value label,
#edit-field-cat-gorie-und .form-item,
#edit-field-difficulte-und .form-item{
	float: left;
	margin-right: 1em;
}
#edit-field-cat-gorie-und .form-item .option,
#edit-field-difficulte-und .form-item .option{
	font-size: 11pt;
	color: #ff953C;
}
.form-item-field-cat-gorie-und label,
.form-item-field-difficulte-und label{
	font-size: 11pt;
	color: #BAD459;
}
.form-type-textarea label{
	clear:both;
}
fieldset.collapsible, #edit-field-etapes-und-form fieldset, #edit-og-group-ref fieldset, #edit-field-etapes fieldset,cke_skin_kama{
	border: none;
}

#node_astuce_form_group_informations_principales>legend,
#node_astuce_form_group_informations_compl>legend,
#edit-og-group-ref-und>legend{
	padding-top: 80px;
}
#node_astuce_form_group_informations_principales>legend span,
#node_astuce_form_group_informations_compl>legend span,
#edit-og-group-ref-und>legend span{
	margin-left: -25px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 12pt;
	line-height: 33px;
	padding-bottom: 7px;
	width: 315px;
	height:43px;
}
#edit-og-group-ref-und>legend span{
	padding: 12px 80px;
	margin-left: -25px;
}
#node_astuce_form_group_informations_principales>legend a,
#node_astuce_form_group_informations_compl>legend a{
	text-transform: uppercase;
	font-family: trajan;
	font-size: 10pt;
	line-height: 33px;
	color: white;
	font-weight: bold;
}
#edit-og-group-ref-und>legend
{
	text-transform: uppercase;
	font-family: trajan;
	font-size: 10pt;
	line-height: 33px;
	color: white;
	font-weight: bold;
}
.cke_editor body{
	background: none;
}

#edit-field-etapes>div>fieldset>legend span,
#edit-field-etapes-und-form>legend span{
	text-transform: uppercase;
	font-family: trajan;
	font-size: 12pt;
	line-height: 33px;
	padding-bottom: 7px;
	margin-left: 70px;
	}
#edit-field-etapes>div>fieldset>legend,
#edit-field-etapes-und-form>legend{
	margin-left: -36px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 10pt;
	line-height: 33px;
	color: white;
	font-weight: bold;
	width: 315px;
	height:43px;
}
#edit-field-etapes-und-form>legend{
	margin-left: -48px;
}

.ief-entity-table.tabledrag-processed {
    width: 100%;
}
.ief-entity-table.tabledrag-processed td{
    color: #000000;
}
#node_astuce_form_group_informations_principales, #node_astuce_form_group_etapegroupe {
   clear: both;
}
#edit-field-etapes{
    min-width: 500px;
}

#astuce-node-form .horizontal-tabs-pane {
    background: rgba(37, 23, 14, 0.5);
}
/*------------------------------------page blog-----------------------------------------*/
.node-type-article .node-article{
		background: rgba(37, 23, 14, 0.5);
		padding: 10px;
}
  /*------------------------------------page liste blog-----------------------------------------*/
.view-blog article{
	background: rgba(37, 23, 14, 0.5);
	padding: 1em;
 	-moz-box-shadow: 0 0 2em #333;
  	-webkit-box-shadow: 0 0 2em #333;
  	box-shadow: 0 0 2em #333;
}
.view-blog h2{
	background: url("../img/bg-h3.png") no-repeat;
	margin-left: -30px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 14pt;
	line-height: 44px;
	padding-bottom: 6px;
}
.view-blog h2 a {
	color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 24px;
}
/*------------------------------------page liste parteniares-----------------------------------------*/
.page-partenaires .views-field-title{
	background: url("../img/bg-h4.png") no-repeat;
	margin-left: -40px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 10pt;
	line-height: 33px;
	padding-bottom: 7px;
	padding-left:  25px;
}
.page-partenaires .views-field-title a{
    color: white;
    cursor: default;
    font-size: 10pt;
    margin-left: 20px;
    font-weight: bold;

}
.view-partenaires .views-row{
		background: rgba(37, 23, 14, 0.5);
		    padding: 25px;
}
.view-partenaires img {
    float: left;
    margin: 0 10px 0 0;
}

.view-partenaires .views-field-field-site-web,.view-partenaires .views-field-field-facebook, .view-partenaires .views-field-field-tweeter{
    clear: both;
}

/*------------------------------------page parteniares-----------------------------------------*/
.node-type-partenaire .node-partenaire {
    background: none repeat scroll 0 0 rgba(37, 23, 14, 0.5);
}
.node-type-partenaire .node-partenaire img {
    float: left;
    margin-right:10px;
}

.node-type-partenaire .node-partenaire .group-lien {
    clear: both;
    padding: 33px 0;
}

.node-type-partenaire .node-partenaire .group-lien .field {
    float: left;
    margin-left: 28px;
}
.pane-og-members-panel-pane-1 h2,.pane-og-nodes-panel-pane-1 .views-field-title{
	background: url("../img/bg-h4.png") no-repeat;
	margin-left: -17px;
	text-transform: uppercase;
	font-family: trajan;
	font-size: 10pt;
	line-height: 33px;
	padding-bottom: 7px;
	padding-left:  25px;
}

.pane-og-members-panel-pane-1 h2 a,.pane-og-nodes-panel-pane-1 .views-field-title a{
    color: white;
    cursor: default;
    font-size: 10pt;
}
.pane-og-members-panel-pane-1,.pane-og-nodes-panel-pane-1{
    background: none repeat scroll 0 0 rgba(37, 23, 14, 0.5);
    padding-top: 15px;
}
.pane-og-nodes-panel-pane-1 .views-label-field-cat-gorie,.pane-og-nodes-panel-pane-1 .views-label-field-note{
    float: left;
    margin-right: 5px;
}
.pane-og-nodes-panel-pane-1 img{
    float: left;
    margin-right: 10px;
}
.pane-og-nodes-panel-pane-1 .field-content {
    margin: 15px;
}
/*-----------------------------------a trier------------------------------------------*/
#main{
    z-index:1;
}

.panels-flexible-page_d_accueil .pane-block{
   	-moz-border-radius: 1em;
    	-webkit-border-radius: 1em;
    	border-radius: 1em;
}
.view-accueil .views-row{
    background: none repeat scroll 0 0 #fff;
    margin: 0.5em;
    float: left;
    width: 95%;
}
.petit_cat{
	height: 3em;
}
.panels-flexible-page_d_accueil-inside .views-field-type{
    width: 30%;
  }
.panels-flexible-page_d_accueil-inside .views-field-title a{
	color: #E4451E;
	font-family:Arial,sans-serif;
	text-decoration: none;
}
.panels-flexible-page_d_accueil-inside .views-field-name a, .panels-flexible-page_d_accueil-inside .views-field-name{
	color: #0F0E0D!important;
	font-family:Arial,sans-serif;
	text-decoration: none!important;
}
@media(max-width: 400)
{
    .panels-flexible-page_d_accueil-inside .views-field-name, .panels-flexible-page_d_accueil-inside .views-field-title { float: left}
    .panels-flexible-page_d_accueil-inside .views-field-type{float: right}
}
#site-name{
	display: none;
}
.panels-flexible-column .pane-content{
   	-moz-border-radius: 1em;
    	-webkit-border-radius: 1em;
    	border-radius: 1em;
}
tr.odd .form-item, tr.even .form-item{
	margin-right: 4em;
}
.filter-wrapper{
	display: none;
}
footer .menu{
	width: 100%;
}
/* Ajouter par N2 01-2012 categorie recherche carroussel */
.view-categorie-recherche .views-row{
padding-left: 11em;
float:left;
}
/*view astuce Nico 03-2013*/
.view-astuces .views-label{
	float:left;
}

.view-astuces .fivestar-static-form-item .fivestar-default{
	float:left;
}
.view-astuces .views-row-odd{
	float:left;
	clear:both;
}
.view-astuces .views-row-even{
	float:right;
}
@media screen and (max-width: 480px) {
	.view-astuces .views-row{
		width: 92%;
		clear: both;
	}
}
.view-astuces table{
	border-collapse: separate;
	border-spacing: 3em;
	width: 100%
}
.view-blog .picture{
	float: left;
	margin-right: 1em;
}
.view-blog .field-name-body,
#edit-field-difficulte{
	clear: both;
}
/*formulaire astuce Nico 03-2013
.

nico astice affichage 03-2013*/
.node-etape h2 a ,
.group-informations-principales h2 a ,
.group-informations-comp h2 a {
	pointer-events: none;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 2em;
}
.node-astuce .field-name-field-partager{
	clear: left;
}
.node-astuce .group-informations-principales .field-group-format-wrapper,
.node-astuce .group-informations-comp .field-group-format-wrapper{
  	margin: 1em;
  }
.view-la-communaut- table{
	width: 100%;
}
.comments h2.comment-form{
	clear: both;
}

.jq-etape .field {
	display: block;
}
.jq-etape span{
	padding-bottom: 0;
}
.links{
	display: block!important;
	clear: both;
}
#navigation{
	position:relative;
	padding-left:0;
    padding-right:0;
    margin: 0;
    padding: 0 15px 0 10px;
    width: 814px;
    float: left;
}
.field-name-field-credit{
	clear:both;
}
.form-item-field-temp-und-0-hour label, .form-item-field-temp-und-0-minute label{
	float:left;
}
.form-item-field-tag-sous-categorie-und{
	clear:both;
}
#block-block-2 p{
	margin:0;
	padding:0;
	z-index: 100;
	display:block;
}
#block-block-2 a,#block-block-2 img{
	z-index: 100;
}
.page-admin table{
	width: 100%;
}

.page-admin table td{
	color:#000000;
}
.view-categorie-menu .views-row {
    float: left;
    width: 125px;
}
.horizontal-tabs ul.horizontal-tabs-list li {
    background: url("../img/bg-body-fixed.png") no-repeat scroll center top rgba(0, 0, 0, 0.3);
    border-right: 1px solid #CCCCCC;
    float: left;
    margin: 0;
    min-width: 5em;
    padding: 0 1px 1px;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected {
    background: url("../img/bg-body-fixed.png") no-repeat scroll center top rgba(0, 0, 0, 0.5);
    margin-left: 0.1em;
}
.horizontal-tabs ul.horizontal-tabs-list li a {
    display: block;
    padding: 0.5em 0.6em;
    text-decoration: none;
}
.horizontal-tabs ul.horizontal-tabs-list li a:hover {
    background: url("../img/bg-body-fixed.png") no-repeat scroll center top rgba(0, 0, 0, 0.5);
    outline: medium none;
}
.horizontal-tabs ul.horizontal-tabs-list li:hover, .horizontal-tabs ul.horizontal-tabs-list li:focus {
    background: url("../img/bg-body-fixed.png") no-repeat scroll center top rgba(0, 0, 0, 0.4);
}

#block-views-categorie-menu-block .field-content > a {
    font-weight: bolder;
}
.views-field.views-field-name {
    font-size: smaller;
    margin-left: -28px;
    text-align: center;
}
div.horizontal-tabs{
    border: none;
}
.horizontal-tabs ul.horizontal-tabs-list{
   background:none;
   display: block;
}
.horizontal-tabs ul.horizontal-tabs-list li a, .horizontal-tabs ul.horizontal-tabs-list li.selected a{
   padding: 0.5em 0.6em;
}


/*---------------------------message error-------------------*/
.messages * {
    color: #000000;
}

.field-name-field-attention{
    clear: both;
}